<!-- Post List Start -->

{% if post.section-type == "project" %}
<!-- Post List Start -->
<div class="grid-item">
  <a href="{{ post.url | relative_url }}" class="project-card-link">
    <img src="{{ post.thumbnail | relative_url }}" alt="{{ post.title }}" class="project-thumbnail">
    <h3 class="project-title">{{ post.title }}</h3>
    <p class="project-date">{{ post.date | date: "%Y/%m/%d" }}</p>
  </a>
</div>
<!-- Post List End -->

{% else %}
  <h6 class="post-list pt-3">
    {{ post.date | date:"%Y/%m/%d" }}
    <small>.</small>
    <br class="d-block d-sm-none" />
    <a href="{{site.url}}{{ post.url }}"> {{ post.title }} </a>
    <br class="d-block d-sm-none" />
  </h6>
{% endif %}

<!-- Post List End -->
