<!-- Post Layout Start -->

<!DOCTYPE html>
<html lang="{{site.lang}}">
  {% include head.html %}

  <body>
    {% include navigation.html %}

    <section id="post" class="container content-section">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="text-center">{{ page.title }}</h2>
          <h6 class="text-center">{{ page.date | date:"%Y/%m/%d" }}</h6>

          <section class="text-justify pt-5 post-content">
            {{ page.content | markdownify }}
          </section>
          <hr />
          {% include comments.html %}
        </div>
      </div>
    </section>

    {% include footer.html %} {% include js.html %}
  </body>
</html>

<!-- Post Layout End -->
